<html>
	<head>
	</head>
	<body>
		<h1>Welcome to my page!!!!</h1>
		<p>I like icecream and puppies and long walks on the beach!</p>

		<ul>
			<% ['icecream', 'puppies', 'long walks on the beach', 'Matt Buck'].each do |thing| %>
				<li>I like <%= thing %></li>
			<% end %>
		</ul>
	</body>
</html>